<div>
    <div class="container flex justify-center items-center m-auto shadow-md">

        <div class=" w-28 text-center p-2 m-3 cursor-pointer transition duration-300 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
            <img class="w-20 rounded-md m-auto" src="https://image.shutterstock.com/image-photo/image-260nw-2373403071.jpg" alt="No image">
            <h4 class="font-bold">All Ptoducts</h4>
        </div>

        <div class=" w-28 text-center p-2 m-3 cursor-pointer transition duration-300 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
            <img class="w-20 rounded-md m-auto" src="https://feeds.abplive.com/onecms/images/uploaded-images/2022/10/30/9cabeacaf13ae35cef67a86a6f8b2fb51667143402677460_original.jpg" alt="No image">
            <h4 class="font-bold">Electronics</h4>
        </div>

        <div class=" w-28 text-center p-2 m-3 cursor-pointer transition duration-300 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
            <img class="w-20 rounded-md m-auto" src="https://www.realsimple.com/thmb/yla86Nr8GjRXe_9IyADQ638gPrg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/fashion-trends-GettyImages-1457816153-d2982e954afe4b42bf5587f087da90d4.jpg" alt="No image">
            <h4 class="font-bold">Fashion</h4>
        </div>

        <div class=" w-28 text-center p-2 m-3 cursor-pointer transition duration-300 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
            <img class="w-20 rounded-md m-auto" src="https://tiimg.tistatic.com/fp/1/008/532/nri-gold-jewellery-213.jpg" alt="No image">
            <h4 class="font-bold">Jewellry</h4>
        </div>

    </div>
</div>
