

<app-header></app-header>


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="grid lg:grid-cols-2 gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 w-96 mx-auto" [src]="product.image" alt="..." /></div>
            <div class="items-center justify-center my-auto ms-6">
                <div class="small mb-1 font-semibold">SKU: {{product._id}}</div>
                <h1 class="display-5 font-bold text-4xl">{{product.title}}</h1>
                <div class="fs-5 mb-5 mt-3">
                    <span class="line-through me-3">$45.00</span>
                    <span>${{product.price}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="outline p-2 rounded-md hover:bg-gradient-to-r from-yellow-500 to-yellow-400 hover:outline-none mt-3 flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Buy Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>